<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="./logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <variable name="variable1" value="${newline}date：	${date}${newline}level：	${level}${newline}logger：	${logger}${newline}machinename：	${machinename}
${newline}message：	${message}${newline}appdomain：	${appdomain}${newline}assembly-version：	${assembly-version}${newline}basedir：	${basedir}
${newline}callsite：	${callsite}${newline}callsite-linenumber：	${callsite-linenumber}${newline}counter：	${counter}${newline}nlogdir：	${nlogdir}
${newline}processid：	${processid}${newline}processname：	${processname}${newline}specialfolder：	${specialfolder}
${newline}stacktrace: ${stacktrace}${newline}-----------------------------------------------------------" />

  <!-- the targets to write to -->
  <targets  async="true">
    <!-- write logs to file  -->
    <!-- layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}-->
    <target xsi:type="File" name="allfile" fileName="./logs/nlog-all-${shortdate}.log"
            keepFileOpen="true"
            openFileCacheTimeout = "5"
            concurrentWrites="true"
            autoFlush  = "false"
            openFileFlushTimeout = "2"
            encoding ="utf-8"
          layout="${longdate} |  ${callsite} |  ${level}  | ${message}"/>

    <target xsi:type="File" name="errorfile" fileName="./logs/nlog-error-${shortdate}.log"
            keepFileOpen="true"
            openFileCacheTimeout = "5"
            concurrentWrites="true"
            autoFlush  = "false"
            openFileFlushTimeout = "2"
            encoding ="utf-8"
            layout="${variable1}" />


  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="info" writeTo="allfile" />

    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!-- <logger name="Microsoft.*" maxlevel="Info" final="true" />-->

  </rules>
</nlog>